// as the vue-tooltip element is placed outside our component, we use global style
.vue-tooltip {
    .tooltip-arrow {
        border-top-color: white !important;
    }
    .tooltip-inner {
        background: white !important;
        filter: drop-shadow(rgba(77, 77, 77, 0.5) 0px 1px 10px) !important;
    }
}
